.canvasContainer{
  background-color: cadetblue;
  width: 200%;
  height: 200%;
  display: grid;
  gap: 1em;
  grid-auto-rows: min-content;
  /* grid-auto-columns: min-content; */
  grid-template-columns: min-content min-content;
  padding: 1em;
}

.dragging {
  cursor: cell;
}

#mydiv {
  position: absolute;
  z-index: 5;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.textareasInCanvas {
  display: block !important;
  resize: both !important;
  height: 25em;
  /* position: absolute; */
  z-index: 5;
}
