.canvasContainer{
  background-color: cadetblue;
  min-width: 150%;
  min-height: 150%;
  display: grid;
  gap: 8em;
  grid-template-columns: repeat(2, min-content);
  padding: 1em;
}

.dragging {
  position: absolute !important;
}

.filesInCanvas {
  /* background-color: blueviolet; */
  width: 37em;
  height: 19em;
  /* padding: 1em; */
}