.canvasContainer{
  background-color: whitesmoke;
  min-width: 150%;
  min-height: 150%;
  display: grid;
  gap: 8em;
  grid-template-columns: repeat(2, min-content);
}

.dragging {
  position: absolute !important;
}

.filesInCanvas {
  /* background-color: blueviolet; */
  width: 37em;
  height: 19em;
}

.filesOutCanvas{
  /* background-color: blueviolet; */
  z-index: 2;
  width: calc(100vw - 87px);
  height: calc(100vh - 37px);
}