.selector_wrapper2{
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 0;
    font-size: 13px;
    float: right;
    right: 10em;
    top: 5px;
    z-index: 3;
}


/* div que contendra los otros div */
.selector_wrapper
{
    position: relative;
    user-select: none;
    cursor: pointer;
}

/* div predeterminado */
#select_trigger
{
    width: 8em;
    display: block;
    color: #ffffff;
    border: 1px solid rgb(200 200 200);
}

/* div que se ocultara */
#select_options
{
    display: none;
    position: absolute;
    top: 110%;
    border-radius: 2px;
    padding: 4px 0;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
}

/* div que establecera la altura maxima y activara el scrollbar */
#container_options
{
    width: 104px;
    max-height: 160px;
    overflow-y: auto;
}

#trigger::after
{
    content: '▼';
    display: inline;
    float: right;
    font-size: 13px;
    padding-right: 5px;
}

/* from handleClick() function */
.show
{
    display: block !important;
}

.selected
{
    background-color: #560d0d !important;
    color: white;
}

/* modifica el scrool-bar */
#container_options::-webkit-scrollbar
{
    width: 3px;
}

#container_options::-webkit-scrollbar-thumb {
  background: #a67676;
}

/* styles for the table */
#mytable {
    width: -webkit-fill-available;
    text-align: center;
    font-size: 12px;
    color: #545759;
}

th, td {
    padding: 4px;
}

td{
    font-size: 11px;
}

th:hover, td:hover{
    background-color: whitesmoke;
}

#select_trigger2{
    display: block;
    color: #560d0d;
    border: 2px solid #560d0d;
    padding: 2px 0;
    font-size: 13px;
}

#select_options2{
    display: none;
    position: absolute;
    top: 0%;
    left: 105%;
    padding: 4px 0;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    z-index: 10;
}

#trigger2::after{
    content: '▶';
    float: right;
    font-size: 12px;
    padding-right: 3px;
    padding-top: 1px;
}